spring:
  datasource:
    url: jdbc:h2:mem:recettedb
    driver-class-name: org.h2.Driver
    username: sa
    password: ""

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Désactiver la sécurité complètement
security:
  enabled: false

logging:
  level:
    com.votre.package: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG

server:
  port: 8080